@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-VariableFont_wght.ttf");
}
:root {
  /* Primary Colors */
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --lime-green-hover: hsl(136, 40%, 51%);
  --bright-cyan-hover: hsl(192, 55%, 51%);

  /* Neutral Colors */

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --gradient: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
  --gradient-hover: linear-gradient(
    90deg,
    var(--lime-green-hover),
    var(--bright-cyan-hover)
  );
  --gradient-hover: linear-gradient(
    90deg,
    var(--bright-cyan-hover),
    var(--lime-green-hover)
  );

  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  /* Font sizes */
  /* --fs-700: 2.25rem;
  --fs-600: 2.5rem;
  --fs-500: 0.875rem;
  --fs-400: 0.75rem;
  --fs-300: 1rem;
  --fs-250: 0.96875rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem; */

  /* @media (width>768px) { */
  --fs-700: 3.5rem;
  --fs-650: 2.75rem;
  --fs-600: 2.5rem;
  --fs-550: 2.25rem;
  --fs-500: 1.75rem;
  --fs-450: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-250: 0.96875rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;
  /* } */

  @media (width>1280px) {
    --fs-400: 1rem;
  }

  --ff-default: "Public Sans", sans-serif;
}

/********************
***** CSS RESET *****
*********************/

/* Box sizing rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin, padding and font-size */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}
/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove animations and transition on window resize */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/*********************
***** CUSTOM CSS *****
**********************/

body {
  font-family: var(--ff-default);
  font-weight: var(--fw-400);
  color: var(--grayish-blue);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-blue);
}

.container {
  /* max-width: 1400px; */
  max-width: 1110px;
  margin-inline: auto;
  padding: 4rem 1rem;

  @media (width > 600px) {
    padding-inline: 4rem;
  }

  @media (width > 768px) {
    padding: 6rem 2rem;
  }

  @media (width >1080px) {
    padding-block: 8rem;
  }
}

.primary-nav-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--white);
  box-shadow: 0 50px 100px hsla(0, 0%, 0%, 0.0875);
}

/* .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
} */

.open {
  top: 100px !important;
  transition: all 300ms ease-out;
  box-shadow: 0 0 1000px 1000px hsla(233, 26%, 24%, 0.65),
    0 0 1000px 1000px hsla(0, 0%, 0%, 0.644);
}

.mobile.nav-items {
  position: fixed;
  z-index: 99;
  inset-inline: 0;
  margin-inline: auto;
  top: -500px;
  padding: 2.5rem;
  display: grid;
  place-items: center;
  gap: 1.25rem;
  background-color: var(--white);
  width: 300px;
  border-radius: 0.25rem;
  transition: all 300ms ease-in;

  .nav-item {
    font-weight: var(--fw-300);
    font-size: 0.875rem;
    position: relative;

    a {
      color: var(--dark-blue);
      transition: all 200ms ease-in;
    }

    &:hover {
      a {
        color: var(--grayish-blue);
        transition: all 200ms ease-out;
      }
    }
  }

  @media (width > 768px) {
    /* display: none !important; */
    position: absolute;
    top: -1000px;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.primary-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 1.71875rem;
  max-width: 1110px;
  margin-inline: auto;

  @media (width < 1200px) {
    padding-inline: 2rem;
  }

  @media (width <= 768px) {
    &.desktop {
      position: absolute;
      top: -1000px;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
      /* display: none !important; */
    }
  }

  @media (width > 768px) {
    &.mobile {
      display: none !important;
    }
    &.desktop {
      .nav-items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }

      .nav-item {
        font-weight: var(--fw-300);
        font-size: 0.875rem;
        position: relative;

        a {
          color: var(--grayish-blue);
          transition: all 200ms ease-in;
        }

        &::after {
          content: "";
          position: absolute;
          inset-inline-start: 50%;
          bottom: -2.5rem;
          width: 10%;
          height: 0px;
          transition: all 300ms ease-out;
        }

        &:hover {
          &::after {
            inset-inline: 0;
            width: 100%;
            height: 4px;
            background: var(--gradient);
            transition: all 300ms ease-out;
          }
          a {
            color: var(--dark-blue);
            transition: all 200ms ease-out;
          }
        }
      }
    }
  }
}

.request-invite-btn {
  padding: 0.75rem 2rem;
  font-weight: var(--fw-700);
  font-size: 0.875rem;
  border: none;
  border-radius: 100px;
  background-image: var(--gradient);
  color: var(--white);
  /* max-width: 10rem; */

  transition: background-color;

  &:hover {
    background-image: var(--gradient-hover);
  }
}

/* Hero Section */
.hero-section {
  margin-top: 75px;

  @media (width>768px) {
    margin-top: 100px;
  }

  background-color: var(--very-light-gray);
  overflow-x: clip;
  overflow-y: visible;

  .background {
    background-image: url("/assets/images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (width > 768px) {
      position: relative;
      max-width: 1536px;
      margin: auto;
      background-image: url("/assets/images/bg-intro-desktop.svg");
      background-position: 40rem center;
      background-size: cover;
    }
  }

  .container {
    display: flex;
    flex-direction: column-reverse;

    @media (width > 768px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }
}

.hero-img {
  /* aspect-ratio: 15/29/42; */
  @media (width > 600px) {
    width: 580px;
    position: relative;
    top: -5rem;
    inset-inline: 0;
    margin-inline: auto;
  }
  @media (width > 768px) {
    inset-inline: unset;
    margin: unset;
    position: absolute;
    right: -7.5rem;
    top: -7.5rem;
  }

  @media (width>1080px) {
    width: unset;
  }
}

h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-300);
  line-height: 1.2;

  @media (width <= 1080px) {
    font-size: var(--fs-650);
  }
  @media (width<=768px) {
    max-width: 22ch;
    font-size: var(--fs-550);
  }
}

.hero-section .hero-content {
  display: grid;
  /* padding-block: 1rem; */
  gap: 2rem;
  justify-items: center;
  align-items: center;

  @media (width > 768px) {
    grid-column: span 5;
  }
  @media (width > 1080px) {
    justify-items: start;
    grid-column: span 6;
  }
}

.hero-section .description {
  max-width: 42ch;

  @media (width <= 768px) {
    font-size: var(--fs-200) !important;
  }
  @media (width <= 1080px) {
    font-size: var(--fs-300);
  }
}

/* .description {
  @media (width <=768px) {
    font-size: var(--fs-200);
  }
} */

/* Services Section */
h2 {
  font-weight: var(--fw-300);
  color: var(--dark-blue);
  font-size: var(--fs-550);
  margin-bottom: 1rem;

  @media (width>1080px) {
    font-size: var(--fs-600);
  }
}

.services-section {
  background-color: var(--light-grayish-blue);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.075);

  header {
    @media (width <= 768px) {
      display: grid;
      place-items: center;
    }
    p {
      max-width: 60ch;

      @media (width <= 768px) {
        font-size: var(--fs-200) !important;
        max-width: 45ch;
      }
      @media (width <= 1080px) {
        font-size: var(--fs-300);
      }
    }
  }
}

.services {
  padding-block-start: 4rem;
  display: grid;
  gap: 3rem;
  place-items: center;

  @media (width> 600px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  @media (width> 1080px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.service {
  display: grid;
  @media (width <= 1080px) {
    place-items: center;
    max-width: 40ch;
  }
  gap: 1rem;

  figcaption {
    font-size: var(--fs-450);
    letter-spacing: -0.75px;
    font-weight: var(--fw-300);
    color: var(--dark-blue);

    @media (width> 1080px) {
      font-size: var(--fs-500);
    }
  }

  .description {
    font-size: var(--fs-250);

    @media (width <= 768px) {
      font-size: var(--fs-100);
    }

    @media (width <= 1080px) {
      font-size: var(--fs-200);
      text-align: center;
    }
  }
}

/* Article Section */
.article-section {
  background-color: var(--very-light-gray);
}

.articles {
  display: grid;

  padding-block-start: 1rem;
  gap: 2rem;
  place-items: center;

  @media (width> 600px) {
    --min: 236px;
    padding-block-start: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  }

  @media (width> 1280px) {
    padding-block-start: 3rem;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
  }
}
.article {
  --radius: 0.25rem;
  background-color: var(--white);
  border-radius: var(--radius);
  box-shadow: 0 0 50px hsla(0, 0%, 0%, 0.0875);

  img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  figcaption {
    background-color: var(--white);
    padding: 1.5rem;
    display: grid;
    gap: 0.875rem;

    .author {
      font-size: var(--fs-100);
    }

    .heading {
      color: var(--dark-blue);

      &:hover {
        color: var(--lime-green-hover);
      }
    }

    .description {
      font-size: 0.71875rem;
    }
  }
}

footer {
  background-color: var(--dark-blue);

  .container {
    padding-block: 3rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: center;
    justify-items: center;
    @media (width> 600px) {
      padding-block: 4rem;
      gap: 3rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (width> 768px) {
      padding-block: 5rem;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  .columns:first-of-type {
    display: grid;
    gap: 2.5rem;
    place-items: center;

    @media (width> 600px) {
      place-items: initial;
    }
    @media (width> 768px) {
      grid-column: span 3;
      gap: 4rem;
    }
  }

  .columns:nth-last-of-type(2),
  .columns:nth-last-of-type(3) {
    @media (width> 768px) {
      grid-column: span 2;
    }
  }
  .columns:last-of-type {
    display: grid;
    gap: 1rem;
    @media (width> 768px) {
      grid-column: span 5;
    }

    display: grid;
    justify-items: end;
    align-content: space-between;
  }
}

.social-links {
  display: flex;
  gap: 1rem;
}
.social-link:hover {
  svg path {
    fill: var(--lime-green-hover);
  }
}
.footer-nav {
  .nav-items {
    display: grid;
    gap: 1rem;
  }

  .nav-link {
    font-size: var(--fs-100);
    color: inherit;
    &:hover {
      color: var(--lime-green-hover);
    }
  }
}

.copyright {
  font-size: var(--fs-100);
  text-align: end;
}

@media (width<=768px) {
  * {
    text-align: center;
  }
}
